h1 {
	font-family: Courier;
	font-size: 50px;
	text-align: center;
}

body {
	background-image: url(Flowers.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.head1 {
	font-family: Courier;
	font-size: 25px;
	text-align: center;
	padding: 10px;
	position: relative;
}

.head2 {
	font-family: Courier;
	font-size: 25px;
	text-align: center;
	padding: 10px;
	position: relative;
}

.One {
	font-family: courier;
	font-weight: bold;
	text-align: center;
	border-right: 7px solid black;
	border-left: 20px solid black;
	border-top: 7px solid black;
	border-bottom: 7px solid black;
	background: lavenderblush;
	padding: 8px;
	position: absolute;
	left: 47%;
	
}

.Two {
	font-family: courier;
	font-weight: bold;
	text-align: center;
	border-right: 7px solid black;
	border-left: 20px solid black;
	border-top: 7px solid black;
	border-bottom: 7px solid black;
	background: lavenderblush;
	padding: 8px;
	position: absolute;
	left: 47%;
	
}