.main {
	font-family: OCR A Std;
	text-align: center;
	color: black;
	font-size: 18px;
}

.shovel {
	font-family: Courier New;
	margin-left: 600px;
	margin-top: -80px;
	position: absolute;
}

.stones {
	font-family: Courier New;
	float: right;
}

.One {
	margin-left: 90px;
	font-family: Courier New;
}

.Two {
	font-family: Courier New;
	margin-left: 200px;
}	

.Three {
	font-family: Courier New;
	margin-left: 330px;
}

.Four {
	font-family: Courier New;
	margin-left: 470px;
}

.Five {
	font-family: Courier New;
	margin-left: 590px;
}

.Six {
	font-family: Courier New;
	margin-left: 700px;
}

.Seven {
	font-family: Courier New;
	margin-left: 950px;
}

.Eight {
	font-family: Courier New;
	margin-left: 1300px;
}

.Nine {
	font-family: Courier New;
	margin-left: 1700px;
}

.Ten {
	float: right;
	margin-right: 200px;
	font-family: Courier New;
}