body {
	background-color: #E0E0E1;
}

.one {
font-family: Minion Pro;
text-align: center;
font-size: 140px;
font-weight: bold;
margin-top: 400px;
}

.two {
font-family: Minion Pro;
text-align: center;
font-size: 34px;
margin-top: -50px;
}

a {
	text-decoration: none;
	color: black;
}

.blop {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 10px;
}