body {
	background-color: #E0E0E1;
}

.one {
font-family: Minion Pro;
font-size: 40px;
transform: rotate(55deg);
-webkit-transform: rotate(55deg);
position: absolute;
margin-top: 500px;
margin-left: 900px;
}

.two {
font-family: Minion Pro;
font-weight: bold;
font-size: 240px;
transform: rotate(235deg);
-webkit-transform: rotate(235deg);
position: absolute;
margin-left: 820px;
margin-top: 420px;
}

a {
	text-decoration: none;
	color: black;
}

.what {
display: block;
margin-left: auto;
margin-right: auto; 
height: 100px;
width: 100px;
}